.about-us-container {
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: #a94ab4e8;
}

.content-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  width: 100%;
}

.text-section {
  flex: 1;
  margin-right: 10px;
}

.text-section h2 {
  font-size: 2rem;
  font-weight: bold;
  color: rgb(23, 23, 23);
  margin-bottom: 10px;
}

.text-section p {
  font-size: 1rem;
  color: white;
  line-height: 1.6;
  margin-bottom: 10px;
}

.team-photo {
  flex: 1;
  display: flex;
  justify-content:left;
  margin-right: 70px;
  align-items: center;
}

.team-image {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  
}

@media (max-width: 768px) {
  .content-wrapper {
    flex-direction: column;
    text-align: center;
  }

  .team-photo {
    margin-top: 20px;
  }
}
