.contact-container {

  display: flex;
  padding: 40px 20px;
  width: 100%;
  background-color:#901a98b4;


  
}

.contact-form-section,
.contact-image-section {
  flex: 1; /* Each section should take equal space */
  padding: 20px;
  height: 100vh;
  width: 75%;

   
}

.contact-form {
  background-color: rgb(228, 217, 217);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  height: 80%;
  margin-top: 30px;
}

.contact-form input,
.contact-form textarea {
  width: 75%;
  margin-bottom: 30px;
  margin-top: 20px;
  padding: 20px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contact-form button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: #45a049;
}

.contact-message {
  text-align:center;
  color: rgba(20, 24, 226, 0.91);
  height: 80px;
  margin-top: 100px;
margin-left: 500px;
font-size: 2rem;
}

.contact-image-section {
  background-image: url('../assets/contactus2_image.jpg');
  background-size: cover;
  margin-top: 40px;
  background-position: center;

  height: auto;

}

h3, h2 {
  text-align: center;
}

textarea {
  height: 100px;
}

@media (max-width: 768px) {
  .contact-container {
    flex-direction: column; /* Stack sections vertically */
  }

  .contact-form-section, .contact-image-section {
    width: 100%;
    height: auto;
  }
}
 
