.attendance-page {
  background: linear-gradient(180deg, #9333ea, #ec4899);
  color: white;
  font-family: Arial, sans-serif;
  min-height: 100vh;
}


/* Main layout */
.main {
  padding: 2rem;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 2rem;
}

.main-image1 {
  width: 100%;
  border-radius: 8px;
  margin-top: 0;
}

.main-image2 {
  width: 100%;
  border-radius: 8px;
  height: 400px;
  

}

/* Headings */
.main_text1 h1 {

  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 50px;
  margin-top: 30px;
  text-align: left;
  
  
}
.main_text1{
    text-align: left;
}

.main_text1 h2 {
  font-weight: normal;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  text-align: left;
  margin-left: 100px;
}

/* Buttons */
.attendancepage_buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1.5rem;
}

.Att_page_button1 {
  background-color: #0cd778; /* Green color */
  border: none;
  color: black;
  padding: 10px 20px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  cursor: pointer;
  font-family: Arial, sans-serif;
  margin-bottom: 50px;
  margin-left: 100px;
  width: 100px;
}

.Att_page_button2 {
  background-color: #0cd778; /* Green color */
  border: none;
  color: black;
  padding: 10px 20px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  cursor: pointer;
  font-family: Arial, sans-serif;
  margin-bottom: 50px;
  margin-left: 200px;
  width: 100px;
}

.star {
  margin-right: 5px;
}

.arrow {
  margin-left: 5px;
}

.Att_page_button1:hover, .Att_page_button2:hover{
    color: #350cd7;
}

/* Responsive */
@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
  }

  .nav-right {
    display: flex;
    gap: 1rem;
  }
}
