/* Container */
.exam-container {
  background-color: #9c72a6; /* purple shade */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  color: white;
  font-family: "Segoe UI", sans-serif;
}

/* Header */
.exam-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-right: 5px;
}



.search-box {
  display: flex;
  align-items: center;
  background: white;
  border-radius: 25px;
  padding: 0.3rem 0.6rem;
  
}

.search-box input {
  border: none;
  outline: none;
  padding: 0.4rem;
  font-size: 0.9rem;
}

.search-box button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
}

/* Main */
.exam-main {
  text-align: center;
  margin-top: 1rem;
}

.exam-main h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: left;
}

.exam-image img {
  width: 100%;
  max-width: 95%;
  border-radius: 5px;
  margin-top: 1rem;
}

/* Footer buttons */
.exam-footer {
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
}

.EQ_btn{
 background-color: #0cd778; /* Green color */
  border: none;
  color: black;
  padding: 10px 60px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  cursor: pointer;
  font-family: Arial, sans-serif;
  margin-bottom: 50px;
  margin-left: 100px;
  width: 100px
}

.EQ_btn:hover {
 color: #350cd7;
}

.star {
  margin-right: 5px;
}

.arrow {
  margin-left: 5px;
}