.footer {
  background-color: #fff;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  padding-bottom: 3rem; /* extra space for bottom line content */
}

.footer-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap; /* Prevents overflow on small screens */
}

.quick-links,
.contact-us {
  flex: 1;
  margin-right: 2rem;
  min-width: 200px; /* Keeps columns readable */
}

.quick-links h4,
.contact-us h4 {
  color: #333;
  margin-bottom: 0.625rem;
  font-size: 1.2rem;
}

.quick-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.quick-links ul li {
  margin: 0.3rem 0;
}

.quick-links ul li a {
  text-decoration: none;
  color: #555;
  font-size: 1rem;
}

.quick-links ul li a:hover,
.quick-links ul li a:focus {
  color: #9b1fbd;
  outline: none; /* Remove default outline */
}

.contact-us p {
  font-size: 1rem;
  color: #555;
}

.contact-us a {
  text-decoration: none;
  color: #9b1fbd;
}

.contact-us a:hover,
.contact-us a:focus {
  text-decoration: underline;
  outline: none; /* Remove default outline */
}

/* Footer Bottom Line */
.footer-bottom-line {
  background-color: #9b1fbd; /* Purple color */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  padding: 1rem;
  margin-top: 2rem; /* Space above the footer bottom line */
}

/* Responsive Design */
@media (max-width: 600px) {
  .footer-content {
    flex-direction: column;
  }

  .quick-links,
  .contact-us {
    margin-right: 0;
    margin-bottom: 1.5rem;
  }

  .footer-bottom-line {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2.5rem; /* enough space for text */
    width: 100%;
    background-color: #9b1fbd; /* Purple color */
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1rem;
  }
}

