.footer {
  background-color: #fff;
  padding: 30px;
  border-top: 3px solid #9b1fbd; /* Pink border */
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.quick-links,
.contact-us {
  flex: 1;
  margin-right: 30px;
}

.quick-links h4,
.contact-us h4 {
  color: #333;
  margin-bottom: 10px;
  font-size: 1.2rem;
}

.quick-links ul {
  list-style: none;
  padding: 0;
}

.quick-links ul li {
  margin: 5px 0;
}

.quick-links ul li a {
  text-decoration: none;
  color: #555;
  font-size: 1rem;
}

.quick-links ul li a:hover {
  color: #9b1fbd;
}

.contact-us p {
  font-size: 1rem;
  color: #555;
}

.contact-us a {
  text-decoration: none;
  color: #9b1fbd;
}

.contact-us a:hover {
  text-decoration: underline;
}
