/* Reset margin and padding if needed */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  background-color: transparent;
  font-family: 'Segoe UI', sans-serif;
  font-size: 16px;
  background-color:black;
}

.logo {
  font-size: 30px;
  font-weight: 750;
  color:		#FF00FF; /* Dark shade matching the design */
}

.nav-links {
  display: flex;
  gap: 30px;
}

.nav-links a {
  text-decoration: none;
  color:#F0FFFF;
  font-weight: 500;
  transition: color 0.2s ease-in-out;
}

.nav-links a:hover {
  color:	#FF69B4; /* Sky blue on hover */
}

.login-btn {
  background-color: white;
  color: #000000;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.login-btn:hover {
  background-color:#0000FF;
  color: white;
}


.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color:rgb(131, 126, 126);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(99, 97, 97, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color:white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}
