.timetable-container2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  background: #8e4fb2;
  color: white;

}

.image_text-container2{
   
  display: flex;
  flex-direction: row;
  height: 70%;
    
}

.image-container {
  width: 50%;
  display: flex;
  flex: 1;

  justify-content: center;
  margin-top: 120px; /* push it below the header height */
  z-index: 1;
}

.timetable-image {
  height: 80%;
  border-radius: 10px;
  margin-top: 50px;
  margin-right: 10px;
  width: 400px;

  pointer-events: none; /* <-- stops blocking clicks */
}


.text-container h1 {
  font-size: 3rem;
  margin-bottom: 10px;
  margin-top: 150px;
  margin-left: 50px;
}

.text-container p {
  font-size: 2rem;
  margin-left: 50px;
}

.button-container {
  margin-top: 30px;
  height: 20%;
}

.button {
  background-color: #ec5c5c;
  color: rgb(22, 21, 21);
  border: none;
  padding: 12px 20px;
  margin: 10px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  font-weight: bold;
}

.delete,.update,.add {
  background-color: #e84a75;
  margin-right: 100px;
}

.delete:hover,.update:hover,.add:hover {
  background-color: #1117d1;
}
 


.button1 {
  background-color: #0cd778; /* Green color */
  border: none;
  color: black;
  padding: 10px 20px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  cursor: pointer;
  font-family: Arial, sans-serif;
  margin-bottom: 50px;
  margin-left: 200px;
}

.star {
  margin-right: 5px;
}

.arrow {
  margin-left: 5px;
}

.button1:hover{
    color: #350cd7;
}